html, body {
    padding: 0;
    margin: 0;
    min-height:100%;
}
.navbar {
    position:fixed;
    top:0;
    left:0;
    min-width:100%;
    z-index:1;
    background-color: rgb(218,31,28);
    font-family: Arial, Helvetica, sans-serif;
    height: 65px;
    border-bottom: solid;
    border-width: 1px;
    padding:0;
    margin:0;
  }
  .navbar img{
      display: block;
      height: 50px;
      width:50px;
      float: left;
      padding:0;
      margin:0;
      border-radius: 10px;
  }
  .navbar a {
    padding:0;
    margin:0;
  }
.content{
    margin-top: 65px;
    min-width:100%;
    min-height:100%;
}
img {
    width:200px;
    height:200px;
}
.container {
    margin:0;
    padding:0;
    min-width:100%;
    min-height:100vh;
    background-color: white;
}

.row {
    width:100%;
    min-height:100%;
    padding:0;
    margin:0;
    
}
#col1 {
    float:left;
    min-height:100%;

}



.navbar a {
    float: center;
    font-size: 16px;
    color: white;
    text-align: left;
    text-decoration: none;
}



.dropbtn {
    background-color:rgb(218,31,28);
    color: white;
    padding: 0;
    font-size: 16px;
    border: none;
    cursor: pointer;
    min-width: 105px;
    height: 50px;    
}
  
/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {

    border:solid;
    border-radius:25px;

    
    
}

/* The container <div> - needed to position the dropdown content */
.dropdown {

    display: block;
    float:right;
    margin-right: 20px;
    
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 105px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border:solid;
    border-radius:25px;
    border-width:1px;
}
.dropdwon-content:hover {
    border:solid;
    border-radius:25px;
}
.myDropdown{
    border:solid;
    border-radius:25px;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    
}


.dropdown-content a:hover {
    
    background-color:red;
    border:none;
    border-radius: 25px;

}


.show {
    display:block;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 7%;
    background-color: rgb(218,31,28);
    color: white;
    text-align: center;
    border-top:solid;
    border-color:black;
    border-width:1px;
  }
.footerTXT {
    width:250px;
    float:right;
}
li a {
    padding:0;
    margin:0;
}
li a:hover {

    color: #300;
}
  .footer ul {
    list-style-type: none;
    margin-top: 10px;
    padding: 0;

    overflow: hidden;

  }
  
  .footer li {
    float: left;
    padding-left:5px;
    font-size: 20px;
  }
  
  .footer  a {
    display: inline;
    color: white;
    text-align: center;

    text-decoration: none;

  }


.login {

    padding: 50px 0px 0px 0px;
    display: block;
    float: center;

}
.login input {
    margin-bottom: 20px;
}
.login h4 {
    text-align: center;
}
form{
    text-align:center;
    margin: 0 auto;
    
}
#col1{
    text-align:center;
    border-right:solid;
    border-bottom:solid;
    border-width: 1px;
}
#contactCol{
    text-align:center;
    padding-bottom: 80px;
}
.post{
    padding:10px;
    text-align:center;
    margin: 0 auto;
}
.post h4{
    text-align: left;
    margin-left: 20px;
    padding:10px;
}
.post img{
    min-width:30%;
    border-radius:100px;
}

.book {
    padding: 20px 0px 0px 0px;
    display: block;
    float: center;

}
.book h4{
    text-align:center;
}
#postinput{
    min-height:50px;
    min-width:90%;

}

h4,h5,h6{
    text-align: center;
    font-size:25px;
}
#prof1{
    margin:auto;
    min-width:50%;
    text-align:center;
    padding-bottom:50px;
}
#prof1 img{
    border-radius: 100px;
}
#profImg {
    margin:auto;
    height: 200px;
    width:200px;
    margin-top:15px;
}


.posts p{
    display:block; 
    margin-left: 10px;
    margin-bottom:0;
}
.posts img{
    margin: 7px 0 0 7px;
    float:left;
    width:75px;
    height:75px;
    border-radius:40px
    
}
.posts{
    float:left;
    min-width: 100%;
    border-radius: 25px;    
    min-height:250px;
    margin-bottom:35px;
}
#settings,#privacy{
    text-align:center;
}
#mapRow{
    padding:0;
    margin:0;
    height: 300px;
}
#map{
    margin-left:auto;
    margin-right:auto;
    margin-top:25px;
    padding:0;
    border:solid;
    min-height:400px;
    max-height: 600px;
    width:90%;
}
#greeting input{
    width: 297px;
}
.bookBut{
    float:right;
    border:solid;
    border-width:0px;
    border-radius: 25px;
    margin-bottom:27px;
    background: rgb(218,31,28);
    color:white;
}
.bookBut a {
    color:white;
    text-decoration: none;
}
#bookBut a:hover{
    color:rgb(148, 148, 148);
    text-decoration: none;
    cursor:pointer;
}
#logo img{
    border-color:black;
    width: 50px;
    height: 50px;
    margin-left:15px;
    border: solid;
    border-width: 1px;
    
}
#help p{
    text-align:center;
}

.checked {
    color: orange;
  }

.post1{
    
    border-radius: 25px;
    border-width: 1px;
    background-color:#eee;
}
.post2{
    border-radius: 25px;
    background-color:#eee;
    margin-top:38px;
    margin-bottom:20px;
}
.post2 img{
    border-radius: 100px;
    margin-top:20px;
}
#submitbutton{
    border-radius: 25px;
    margin-bottom:10px;
    margin-top:10px;
    background-color: rgb(218,31,28);
    color:white;
    border:none;
}
#postinput {
    border-radius: 25px;
    
}

#inputbuttonbro{
    background-color:rgb(218,31,28);
    color:white;
    border-radius: 25px;
}